@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
main{
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: whitesmoke;
    position: relative;
}
.language{
    font-size: 18px;
    margin-left:130px;
}
.language>li{
    margin-top: 15px;
    font-size: 18px;

}
.back-up{
    z-index: 4;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #151d2a78;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transition: 0.8s;
}
.back-up:hover {
    background-color: #0a0e15;
    transition: 0.8s;
}
.back-up:hover .back-up-img{
    transform: translateY(-6px);
    transition: 0.8s;
}
.back-up-img{
    transition: 0.8s;
}
.header-name{
    color: #151d2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: max-content;
}
.wrapper-header{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}
.bar{
    background-image: url(/icon/bars.svg);
    transition: 0.3s;
}
.bar:hover{
    background-image: url(/icon/list-ui-alt.svg);
    transition: 0.3s;
}
#btnMenu{
    width: 40px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
}
header > div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.background{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/icon/AndriiBackground.jpg);
    background-attachment: fixed;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: auto;
}
.logo{
    position: relative;
    width: 620px;
}
.name{
    font-size: 80px;
    color: white;
    text-align: center;
    font-weight: 800;
}
.profession{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 800;
}
.left{
    width: 200px;
    height: 84px;
    position: absolute;
    right: 0;
    bottom: 8px;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
.right{
    width: 200px;
    height: 84px;
    position: absolute;
    left: 0;
    bottom: 8px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}
.background > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
}
#download-resume{
    position: relative;
    overflow: hidden;
    color: white;
    background-color: rgba(255, 0, 0, 0);
    width: 290px;
    height: 65px;
    border: solid 1px white;
}
.download-resume-black{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.download-resume-white{
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    color: black;
    top: 0;
    left: 290px;
}
.learn-more{
    display: flex;
    font-size: 16px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.4s;
}
.learn-more:hover{
    color: #7a7a7a;
    transition: 0.4s;
}
.learn-more:hover .arrow{
    transition: 0.4s;
    background-image: url(/icon/angle-down-learnmore.svg);
}
.arrow {
    background-image: url(/icon/angle-down.svg);
    width: 30px;
    height: 30px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}
.wrapper-learn-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
#download-resume:hover .download-resume-white{
    left: 0;
    transition: 0.3s;
}
#download-resume:hover .download-resume-black{
    top: 64px;
    transition: 0.3s;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(26px); }
    100% { transform: translateY(0); }
}
.my-info{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 125px;
    border-bottom: solid 2px #5a5a5a76;
}
.my-info>div{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.info-elem{
    color: #5a5a5a;
    padding-left: 30px;
    border-left: solid 2px #5a5a5a76;
    width: 160px;
    height: max-content;
}
.info-elem>h4{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
.info-elem>h3{
    font-weight: 500;
}
.element{
    position: relative;
    width: 80%;
    margin-bottom: 40px;
}
.element > div > h2{
    color: #151d2a;
    margin-top: 20px;
    width: max-content;
    font-size: 36px;
    border-bottom: solid 1px #5a5a5a76;
}
.element > div > h3{
    color: #151d2a;
    margin-top: 20px;
    width: max-content;
    font-size: 22px;
    font-weight: 500;
    margin-left: 8px;
}
.text-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.wrapper-about-me-info{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.wrapper-about-me-info>img{
    width: 35%;
    height:  max-content;
    border: solid 1px white;
    box-shadow: 0 0 1px black;
}
.wrapper-about-me-info>div{
    font-size: 20px;
    width: 60%;
    text-align: justify;
}
.wrapper-resume-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    background-color: #151d2a;
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px 8px 10px;
}
.education{
    width: 100%;
    display: flex;
}
.education-wrapper-left{
    width: 50%;
    height: 200px;
    border-right: solid 1px #151d2a;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.education-wrapper-right{
    position: relative;
    border-left: solid 1px #151d2a;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.education-wrapper-right > div{
    width: 90%;
    height: max-content;
}
.education-wrapper-right > div > div{
    position: relative;
    background-color: whitesmoke;
    width: 75%;
    height: 128px;
    border: #151d2a solid 1px;
    padding: 10px 25px 10px 25px;
}
.education-wrapper-right > div > h2{
    font-size: 16px;
    color: #3f3f3f;
}
.education-wrapper-right > div > h3{
    font-size: 14px;
    font-weight: 300;
    color: #3f3f3f;
    margin-top: 5px;
}
.education-wrapper-right > div > p{
    font-size: 14px;
    color: #3f3f3f;
    font-weight: 300;
    margin-top: 10px;
}
.date{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    height: 80%;
}
.education-wrapper-left > div > p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 20%;
    background-color: #151d2a;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
}
.start{
    justify-content: start;
}
.end{
    justify-content: end;
    display: flex;
}
.mirror-right{
    border-right: solid 1px #151d2a;
    border-left: none;
    justify-content: start;
}
.mirror-left{
    border-left: solid 1px #151d2a;
    border-right: none;
    justify-content: end;
}
.mirror-date{
    justify-content: start;
}
.arroy-left{
    position: absolute;
    top: -4px;
    right: -23px;
    width: 40px;
    transform: rotate(-90deg);
}
.arroy-right{
    z-index: -1;
    position: absolute;
    top: 53px;
    left: -25px;
    width: 40px;
    transform: rotate(90deg);
}
.circle{
    width: 20px;
    position: absolute;
    top: 130px;
    left: -11px;
    background-color: whitesmoke;
}
.arroy-left-mirror{
    z-index: -1;
    position: absolute;
    top: 53px;
    right: -24px;
    width: 40px;
    transform: rotate(-90deg);
}
.arroy-right-mirror{
    position: absolute;
    top: -4px;
    left: -23px;
    width: 40px;
    transform: rotate(90deg);
}
.circle-mirror{
    width: 20px;
    position: absolute;
    top: 130px;
    right: -11px;
    background-color: whitesmoke;
}
.skils{
    margin-bottom: 40px;
    width: 100%;
    height: max-content;
    background-image: url(/icon/backgroung.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.skils > h2{
    height: 60px;
    width: max-content;
    color: white;
    font-size: 30px;
    border-bottom: 1px solid white;
    margin-top: 20px;
    margin-bottom: 40px;
}
.skils-logo{
    /* width: 200px;
    height: 100px; */
}
.skils > div{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skils > div > span{
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
}
#form{
    width: 90%;
}
#form > div > input{
    background-color: whitesmoke;
    height: 40px;
    width: 48%;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    color: #151d2a;
    padding: 3px;
}
#form > div{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
#form > h2{
    color: #151d2a;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
#message{
    min-width: 99%;
    max-width: 100%;
    min-height: 150px;
    max-height: 500px;
    color: #151d2a;
    background-color: whitesmoke;
    border: 1px solid #b2b2b2;
    padding: 3px;
}
#message:focus{
    border: none;
    outline: none;
    border: 1px solid black;
}
#form > div > input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
#send-message{
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    color: #151d2a;
    background-color: rgba(255, 0, 0, 0);
    width: 290px;
    height: 65px;
    border: solid 1px #b2b2b2;
}
.send-message-black{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.send-message-white{
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151d2a;
    height: 100%;
    width: 100%;
    position: absolute;
    color: whitesmoke;
    top: 0;
    left: 290px;
}
#send-message:hover .send-message-white{
    left: 0;
    transition: 0.3s;
}
#send-message:hover .send-message-black{
    top: 64px;
    transition: 0.3s;
}
.flex{
    display: flex;
    justify-content: center;
}
footer{
    min-width: 900px;
    width: 100%;
    height: 70px;
    background-image: url(/icon/backgroung.png);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: round; */
    background-size: cover;
}
footer>h2{
    color: whitesmoke;
    font-weight: 500;
}
.projects-wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.projects-wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid #b2b2b2;
    transition: 0.8s;
}
.projects-wrapper > div:hover{
    box-shadow: 0 0 10px #151d2a;
    transition: 0.8s;
}
.projects-wrapper > div > h2{
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 50px;
    text-align: center;
    background-color: #151d2a;
    color: whitesmoke;
}
.projects-wrapper > div > p{
    margin: 10px;
}
.projects-wrapper > div > img{
    margin: 20px;
}
.menu{
    z-index: 3;
    transform: translateX(90px);
    transition: 0.5s;
    border-left: 1px solid #151d2a;
    margin-top: 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 90px;
    height: 100%;
    background-color: whitesmoke;   
}
.send-message{
    border: none;
    position: relative;
    overflow: hidden;
    color: #151d2a;
    background-color: rgba(255, 0, 0, 0);
    width: 90px;
    height: 65px;
}
.send-message:hover .send-message-white{
    left: 0;
    transition: 0.3s;
}
.send-message:hover .send-message-black{
    top: 64px;
    transition: 0.3s;
}
.showMenu{
    transform: translateX(0);
    transition: 0.5s;
}
.lisks{
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.lisks>a>img{
    border-radius: 50%;
    transition: 0.8s;
}
.lisks>a>img:hover{
    box-shadow: 0 0 10px #151d2a;
    transition: 0.8s;
}
.contacts_wrapper{
    display: flex;
    justify-content: space-between;
}
.lisks_footer{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
.lisks_footer>a>img{
    border-radius: 50%;
    transition: 0.8s;
}
.lisks_footer>a>img:hover{
    box-shadow: 0 0 10px #ffffff;
    transition: 0.8s;
}
.lisks_header{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.lisks_header>a>img{
    border-radius: 50%;
    transition: 0.8s;
}
.lisks_header>a>img:hover{
    box-shadow: 0 0 10px #151d2a;
    transition: 0.8s;
}
#alert_wrapper{
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 6;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.34);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%   { transform: rotate(0); }
    100% { transform: rotate(360deg) }
}
#alert_loading_img{
    display: none;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
#alert {
    display: none;
    padding: 40px;
    width: max-content;
    height: max-content;
    background-color: whitesmoke;
    border: 1px solid #151d2a;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#alert_text{
    color: #151d2a;
    font-size: 30px;
    font-weight: 500;

}
#alert_button{

}
#comlete{
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    color: #151d2a;
    background-color: rgba(255, 0, 0, 0);
    width: 290px;
    height: 65px;
    border: solid 1px green;
}
#comlete:hover .send-message-white{
    left: 0;
    transition: 0.3s;
}
#comlete:hover .send-message-black{
    top: 64px;
    transition: 0.3s;
}
.showMobile{
    display: none;
}
.showComputer{
    display: flex;
}
.italic{
    font-style: italic;
}